<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="数据库检测.Properties.Settings.sudaitswellConnectionString"
            connectionString="Data Source=127.0.0.1;Initial Catalog=SUDA;Persist Security Info=True;User ID=sa;Password=shishi"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>